body{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: hsl(0, 32%, 58%);
}

.butts{
    padding: 5px 10px;
    font-size: 1em;
    color: #818181;
    background-color:#111;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.25s;
}

.butts:hover{
    color: #f1f1f1;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: color 0.25s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
}

.tabcontent {
    display: none;
}


#card{
    width: 200px;
    height: 200px;
    background-color: #111;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}